<div class="custom-card">

  <div class="custom-card-header">
      Opportunity Details
  </div>

  <div class="custom-card-content">

    <div class="opportunity-detail-info">

      <div class="row">

        <div class="col">
          <label>Opportunity Owner</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Customer Engagement</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Opportunity Name</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Managed By</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Owner Company Type</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Forecast Category</label>
          <span>Test Valsuer</span>
        </div>


      </div>

      <div class="row marginTop20">

        <div class="col">
          <label>Opportunity Owner</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Customer Engagement</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Opportunity Name</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Managed By</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Owner Company Type</label>
          <span>Test Valsuer</span>
        </div>

        <div class="col">
          <label>Forecast Category</label>
          <span>Test Valsuer</span>
        </div>

      </div>

    </div>

  </div>

</div>


<div class="custom-card">

  <div class="custom-card-header">
    Opportunity Tool Set
  </div>

  <div class="custom-card-content">

    <div class="altify-detail-info">

      <div class="row">

        <div class="col-md-3">

          <div class="altify-detail-info-card ">

            <div class="altify-detail-info-card-icon altifyIcon omPlaybookIcon">

            </div>

            <div class="altify-detail-info-card-header">
            OM PlayBook
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

        <div class="col-md-3">

          <div class="altify-detail-info-card" (click)="goToAssessmentPage()">

            <div class="altify-detail-info-card-icon altifyIcon assessmentIcon"></div>

            <div class="altify-detail-info-card-header">
            Assessment
            </div>

            <div class="altify-detail-info-card-percentage">
            0%
            </div>

          </div>

        </div>

        <div class="col-md-3">

          <div class="altify-detail-info-card ">

            <div class="altify-detail-info-card-icon altifyIcon relationshipsIcon">

            </div>

            <div class="altify-detail-info-card-header">
            Relationship
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

        <div class="col-md-3">

          <div class="altify-detail-info-card">

            <div class="altify-detail-info-card-icon altifyIcon criteriaIcon">

            </div>

            <div class="altify-detail-info-card-header">
            Criteria
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

        <div class="col-md-3 marginTop20">

          <div class="altify-detail-info-card ">

            <div class="altify-detail-info-card-icon altifyIcon insightIcon">

            </div>

            <div class="altify-detail-info-card-header">
              Insight
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

        <div class="col-md-3 marginTop20">

          <div class="altify-detail-info-card ">

            <div class="altify-detail-info-card-icon altifyIcon strategyIcon">

            </div>

            <div class="altify-detail-info-card-header">
              Strategy
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

        <div class="col-md-3 marginTop20">

          <div class="altify-detail-info-card ">

            <div class="altify-detail-info-card-icon altifyIcon actionsIcon">

            </div>

            <div class="altify-detail-info-card-header">
              Actions / Close Plan
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

        <div class="col-md-3 marginTop20">

          <div class="altify-detail-info-card">

            <div class="altify-detail-info-card-icon altifyIcon tiIcon">

            </div>

            <div class="altify-detail-info-card-header">
              T&I
            </div>

            <div class="altify-detail-info-card-percentage">
              0%
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
