<div class="custom-card">

  <div class="custom-card-header">
    Quote Table
  </div>

  <div class="custom-card-content">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Quote Name</th>
        <th >Quote Number</th>
        <th>Quote Version</th>
        <th>Quote Status</th>
        <th>Total</th>
        <th>Quote Start Date</th>
        <th>Quote End Date</th>
        <th>Quote Owner</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      <tr>
        <td>NGIT_Andrinana</td>
        <td>NI00860033-01</td>
        <td>01</td>
        <td>Escalted Pricing in Progress</td>
        <td>EUR 456,232,456</td>
        <td>7/27/2019</td>
        <td>10/25/2019</td>
        <td>Pawel Ksiezyk</td>

      </tr>
      </tbody>
    </table>

  </div>

</div>


