/*
    Major Colors of the UI
*/
$primaryColor : #8283A7;
$secondaryColor : #333;
$teritaryColor : #fff;
$renewalColor : #F68657;
$waringColor : #E71D36;

/*
    Background Colors of the UI
*/
$backgroudColor : #f6f6f6;
$darkBackgroudColor :#333;
$LightBackgroudColor : #fff;
$darkerBackgroudColor :#444;



/*
   Major Form Colors
*/
$defaultFontColor:#333;
$selectBorderColor : #eee;
$formLabelColor : #666;
$inputBackgroundColor : #f6f6f6;
$placeholderColor : #aaa;


/*
   Others Colors
*/
$dividerLine : #eee;
$boxShadow : #eee;

/*
   Others Colors
*/
$fontFamily : MetricHPE;
$fontFamilyRegular : MetricHPE-Regular;
$fontFamilyLight : MetricHPE-Light;
$fontFamilyMedium : MetricHPE-Medium;