<div class="header">

  <div class="header-first">

    <div class="container">

      <div class="row no-gutters">

        <div class="col-md-6">

          <div class="header-title">
            <button class="backButton" (click)="goBackToHome()">Back</button>
            <h6>{{headerName}}</h6>
            <span>{{headerDescription}}</span>
          </div>
        </div>

        <div class="col-md-6">

          <div class="header-select" *ngIf="ifPipeline">

              <ul class="header-select-list">

                <li>
                <select class="formSelect">
                  <option value="">Type</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>

                  <select class="formSelect">
                    <option value="">Program</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>

                </li>

              </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="divider"></div>

  <div class="header-second">

    <div class="container">

      <div class="row no-gutters">


        <div class="col-md-6">

          <ul class="nav nav-tabs" *ngIf="ifPipeline">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" (click)="getTabPipeLineTime('pipeLineByName')" href="#pipeLineByName">Pipeline By Time</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="getTabPipeLineStage('pipeLineByStage')"  href="#pipeLineByStage">Pipeline By Stage</a>
            </li>
          </ul>

          <ul class="nav nav-tabs" *ngIf="ifOpportunity">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" (click)="getTabOpportunity('opportunityDetail')" href="#opportunityDetail">Opportunity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="getTabQuotes('quotes')"  href="#quotes">Quotes</a>
            </li>
          </ul>

        </div>


        <div class="col-md-6">

          <div class="pipeline-action">

            <ul class="pipeline-action-list" *ngIf="ifPipeline">

            <li>
              <button class="roundButtonDark refreshIcon" ></button>
            </li>
            <li>
              <button class="roundButtonDark filterIcon " ></button>
            </li>
            <li>
              <button class="roundButtonPrimary addIcon" (click)="getOpportunityModal('opportunityModal')" data-toggle="modal" data-target="#opportunityModal" ></button>
            </li>

          </ul>

            <ul class="pipeline-action-list" *ngIf="ifOpportunity">

              <li>
                <button class="roundButtonPrimary editIcon"></button>
              </li>

            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>



