
<app-gsp-header (pipeLineTime)="pipeLineByTime=$event" (pipeLineStage)="pipeLineByStage=$event" (opportunityModal)="opportunityModal=$event"  ></app-gsp-header>

<div class="pipeline-wrapper">

  <div class="container">

    <div class="tab-content">
      <div class="tab-pane container active" [id]="pipeLineByTime" >
        <app-gsp-pipilinebytime></app-gsp-pipilinebytime>
      </div>
      <div class="tab-pane container fade" [id]="pipeLineByStage">
        <app-gsp-pipilinebystage></app-gsp-pipilinebystage>
      </div>

    </div>

  </div>

</div>

<app-gsp-dialogs [opportunityid]="'opportunityModal'"></app-gsp-dialogs>
